.availability-checkform {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 1000px) {
    justify-content: space-between;
  }

  h2 {
    font-size: 25px;
    line-height: 1.14;
    color: $availability-color;
    //margin-top: 5vh;
    //@media screen and (max-width: 576px) {
    //  margin-top: 2vh;
    //}
  }
}

.availability-checkform-column {
  margin-bottom: 5vh;

  label {
    font-size: 18px;
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }
}